:root {
	--neutral: #465053;
	--neutralbg: rgba(70, 80, 83, 0.1);
	--subtext: #8D9597;
	--bg: #F3F6F6;
	--tbg: #F3F6F600;
	--ctcardbg: #FFFFFF;
	--ctcardlogo: #69767A;
	--githubbg: #292929;
	--githublogo: #FFFFFF;
}