body {
	background-color: var(--bg);
	overflow-x: hidden;
	overflow-y: auto;
}

:root {
	--randomcolor: none;
	--selection-bg: none;
}

::selection {
	background: var(--selection-bg);
}

.nolb {
	display: inline-block;
}

.linkwithoutul {
	text-decoration: none;
}

.header {
	position: fixed;
	display: flex;
	width: 100vw;
	height: 8em;
	top: 0px;
	left: 0px;
	z-index: 9999;
	align-items: center;
	justify-content: center;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header .bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(var(--bg), var(--tbg));
	z-index: 99999;
	opacity: 0.9;
}

.header .container .title {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 1.8em;
	color: var(--neutral);
	font-weight: 700;
	position: relative;
	z-index: 999999;
}

.header .container .blank {
	height: 2em;
	z-index: 999999;
}

.main {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
}

.main .contents {
	position: absolute;
	display: flex;
	width: 100vw;
	left: 0;
	padding-bottom: 13vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	word-break: keep-all;
}

.main .contents .title {
	font-family: 'Nunito', 'Noto Sans KR', sans-serif;
	font-size: calc(1.6em + 1.3vw);
	font-weight: 400;
	color: var(--neutral);
	margin-bottom: 1.1em;
	text-align: center;
}

.main .contents .title .accent {
	font-weight: 700;
	font-style: italic;
	text-decoration: underline;
}

.main .contents .description {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: calc(1em + 0.5vw);
	font-weight: 400;
	color: var(--subtext);
	text-align: center;
}

.main .contents .description .accent {
	font-weight: 700;
}

.float {
	position: absolute;
	display: flex;
	width: 100vw;
	top: 80vh;
	left: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 0;
}

.float .cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.float .blank {
	height: 100vh;
}

.float .cards .card {
	margin: 0.5em 0.5em 3.4em 0.5em;
}

.float .cards .card .cardbg {
	display: flex;
	width: 80vw;
	max-width: 44.8em;
	height: 45vw;
	max-height: 25.2em;
	margin-bottom: 0.8em;
	border-radius: 14px;
	box-shadow: 0 0.2em 8px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s;
}

.float .cards .card:hover .cardbg {
	box-shadow: 0 0.5em 18px rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.3s;
}

.float .cards .card:active .cardbg {
	box-shadow: 0 0.3em 12px rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.3s;
}

.float .cards .card .cardname {
	color: var(--neutral);
	font-size: 1.4em;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	text-align: center;
}

.main2 {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
}

.main2 .contents {
	position: absolute;
	display: flex;
	width: 100vw;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.main2 .contents .title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 2em;
}

.main2 .contents .title .memoji {
	width: 12em;
	height: 12em;
}

.main2 .contents .title .memoji .image {
	width: 100%;
	height: 100%;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.14));
}

.main2 .contents .cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80vw;
	margin-bottom: 2em;
}

.main2 .contents .cards .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	height: 6em;
}

.main2 .contents .cards .card .cardbg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4em;
	height: 4em;
	margin: 0.5em;
	border-radius: 0.8em;
	background-color: var(--ctcardbg);
	box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s, box-shadow 0.3s, width 0.3s, height 0.3s;
}

.main2 .contents .cards .cardbg:hover {
	width: 5em;
	height: 5em;
	box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s, box-shadow 0.3s, width 0.3s, height 0.3s;
}

.main2 .contents .cards .cardbg:hover .logo {
	width: 2.5em;
	height: 2.5em;
	fill: #FFF;
	filter: drop-shadow(0 0.25em 0.25em rgba(0, 0, 0, 0.25));
	transition: fill 0.3s, width 0.3s, height 0.3s;
}

.main2 .contents .cards .cardbg:active {
	box-shadow: 0 0.3em 0.4em rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.3s;
}

.main2 .contents .cards .card .logo {
	width: 2em;
	height: 2em;
	fill: var(--ctcardlogo);
	transition: fill 0.3s, width 0.3s, height 0.3s;
	z-index: 1;
}

#mail .cardbg:hover {
	background-color: var(--randomcolor);
}

#behance .cardbg:hover {
	background-color: #0056FF;
}

#instagram .instagrambg {
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: 0.8em;
	z-index: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

#instagram .cardbg:hover .instagrambg {
	opacity: 1;
	transition: opacity 0.3s;
}

#zenly .logowrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#zenly .logo {
	filter: brightness(0);
}

#zenly .cardbg:hover {
	background-color: #00BBFF;
}

#zenly .cardbg:hover .logowrap {
	filter: none;
}

#zenly .cardbg:hover .logo {
	filter: none;
}

.main2 .contents .footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main2 .contents .footer .copyright {
	color: var(--subtext);
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 1em;
}

@media screen and (max-width: 420px) {
	.contents .title {
		font-weight: 600;
	}

	.contents .title .accent {
		font-weight: 800;
	}

	.contents .description {
		font-weight: 500;
	}

	.contents .description .accent {
		font-weight: 700;
	}

	.float .cards {
		margin-bottom: 16vh;
	}

	.card {
		margin-bottom: 4vh;
	}

	.card .cardbg {
		border-radius: 10px;
		width: 88vw;
		height: 49.5vw;
	}

	.card .cardname {
		font-weight: 500;
		font-size: 4.6vw;
	}

	.copyright {
		font-weight: 500;
		margin-bottom: 16vh;
	}
}