* {

}

:root {
    --neutral-black: #465053;
    --bg-white: #F3F6F6;
}

body {
    background-color: var(--bg-white);
}

div.header {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 8em;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
    align-items: center;
}

.header .container {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    padding-left: 5em;
    align-items: center;
}

.header .title {
    font-size: 2em;
    color: var(--neutral-black);
    font-weight: 700;
}

.master {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.master .contents {
    font-family: 'Nunito', 'Noto Sans KR', sans-serif;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5em;
    padding-right: 5em;
}

.contents .title {
    font-size: 2.4em;
    font-weight: 400;
    top: 8em;
    color: var(--neutral-black);
    margin-bottom: 0.5em
}

.contents .description {
    font-size: 1.2em;
    font-weight: 400;
    color: var(--neutral-black);
}

.cards {
    position: absolute;
    display: flex;
    width: 100vw;
    top: 80vh;
    left: 0;
    justify-content: center;
    align-items: center;
}

.cards .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0.5em 0.5em 3em 0.5em;
}

.card .cardbg {
    display: flex;
    width: 64vw;
    max-width: 48em;
    height: 36vw;
    max-height: 27em;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 0.4em 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
}

#cardhover:hover .cardbg {
    box-shadow: 0 0.4em 20px rgba(0, 0, 0, 0.4);
}

.card .cardname {
    color: var(--neutral-black);
    font-size: 1.4em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.card .linkwithoutul {
    text-decoration: none;
}

i.material-icons {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0.15em;
}

a {
}

.btn:hover {
    background-color: deepskyblue;
    box-shadow: 0 .7em 2em rgba(0, 0, 0, 0.3);
}

.btn:active {
    background-color: deepskyblue;
}