body {
	background-color: var(--bg);
	overflow-x: hidden;
	overflow-y: auto;
}

:root {
	--selection-bg: none;
}

::selection {
	background: var(--selection-bg);
}

.material-icons {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 0.15em;
}

.nolb {
	display: inline-block;
}

.header {
	position: fixed;
	display: flex;
	width: 100vw;
	height: 8em;
	top: 0px;
	left: 0px;
	z-index: 9999;
	align-items: center;
	justify-content: center;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header .bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(var(--bg), var(--tbg));
	z-index: 99999;
}

.header .title {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 1.8em;
	color: var(--neutral);
	font-weight: 700;
	position: relative;
	z-index: 999999;
}

.header .blank {
	height: 2em;
	z-index: 999999;
}

.main {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
}

.main .contents {
	position: absolute;
	display: flex;
	width: 100vw;
	left: 0;
	padding-bottom: 13vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	word-break: keep-all;
}

.contents .title {
	font-family: 'Nunito', 'Noto Sans KR', sans-serif;
	font-size: calc(1.6em + 1.3vw);
	font-weight: 400;
	color: var(--neutral);
	margin-bottom: 1.1em;
	text-align: center;
}

.contents .title .accent {
	font-weight: 700;
	font-style: italic;
	text-decoration: underline;
}

.contents .description {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: calc(1em + 0.5vw);
	font-weight: 400;
	color: var(--subtext);
	text-align: center;
}

.contents .description .accent {
	font-weight: 700;
}

.main2 {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
}

.main2 .contact {
	position: absolute;
	display: flex;
	width: 100vw;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.contact .title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 3em;
}

.contact .title .memoji {
	width: 12em;
	height: 12em;
}

.contact .title .memoji .image {
	width: 100%;
	height: 100%;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.14));
}

.contact .title .message {
	font-family: 'Nunito', 'Noto Sans KR', sans-serif;
	font-size: 1.4em;
	font-weight: 600;
	color: var(--neutral);
	margin-top: 1em;
}

.contact .cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80vw;
	margin-bottom: 2em;
}

.contact .cards .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 50em;
}

.contact .cards .ctcard {
}

.ctcard .ctcardbg {
	width: 188px;
	height: 68px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	border-radius: 18px;
	background-color: white;
	box-shadow: 0 0.2em 4px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s;
}

.ctcardbg:hover {
	box-shadow: 0 0.5em 10px rgba(0, 0, 0, 0.4);
}

.ctcardbg:active {
	box-shadow: 0 0.3em 6px rgba(0, 0, 0, 0.4);
}

.ctcard .ctcardicon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin: 14px;
}

#instagram {
	width: 28px;
	margin-left: 6px;
	margin-right: 6px;
}

.ctcard .ctcardname {
	color: black;
	font-family: 'Ubuntu', 'Noto Sans KR', sans-serif;
	font-size: 24px;
	width: 100px;
	text-align: center;
	margin-right: 20px;
}

.contact .footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact .footer .copyright {
	color: var(--subtext);
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 1em;
}

.float {
	position: absolute;
	display: flex;
	width: 100vw;
	top: 80vh;
	left: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 0;
}

.float .cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.float .blank {
	height: 100em;
}

.card {
	margin: 0.5em 0.5em 3.4em 0.5em;
}

.card .cardbg {
	display: flex;
	width: 80vw;
	max-width: 44.8em;
	height: 45vw;
	max-height: 25.2em;
	margin-bottom: 0.8em;
	border-radius: 14px;
	box-shadow: 0 0.2em 8px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s;
}

.card:hover .cardbg {
	box-shadow: 0 0.5em 18px rgba(0, 0, 0, 0.4);
}

.card:active .cardbg {
	box-shadow: 0 0.3em 12px rgba(0, 0, 0, 0.4);
}

.card .cardname {
	color: var(--neutral);
	font-size: 1.4em;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	text-align: center;
}

.linkwithoutul {
	text-decoration: none;
}

@media screen and (max-width: 420px) {
	.contents .title {
		font-weight: 600;
	}

	.contents .title .accent {
		font-weight: 800;
	}

	.contents .description {
		font-weight: 500;
	}

	.contents .description .accent {
		font-weight: 700;
	}

	.float .cards {
		margin-bottom: 16vh;
	}

	.card {
		margin-bottom: 4vh;
	}

	.card .cardbg {
		border-radius: 10px;
		width: 88vw;
		height: 49.5vw;
	}

	.card .cardname {
		font-weight: 500;
		font-size: 4.6vw;
	}

	.copyright {
		font-weight: 500;
		margin-bottom: 16vh;
	}
}