:root {
	--neutral: #465053;
	--secondary: #8D9597;
	--background: #F3F6F6;
	--background-gradient: #F3F6F600;
	--button-background: #FFFFFF;
	--button-logo: #69767A;
	--github-background: #292929;
	--github-logo: #FFFFFF;
	--default-selection: rgba(70, 80, 83, 0.1);
}
