:root {
	--neutral: #E8E8E8;
	--secondary: #626D71;
	--background: #202223;
	--background-gradient: #20222300;
	--button-background: #3A3F42;
	--button-logo: #DDE3E6;
	--floating-button-background: rgba(255, 255, 255, 0.8);
	--github-background: #FFFFFF;
	--github-logo: #292929;
	--default-selection: rgba(232, 232, 232, 0.1);
}
