html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background);
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.preload * {
	transition: none !important;
}

::selection {
	background: var(--default-selection);
}

.full {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.flex-one-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-horizontal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-vertical {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.plain-list {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.plain-link {
	text-decoration: none;
}

.keep-all {
	word-break: keep-all;
}

.restrict-width {
	max-width: 80vw;
}

.header {
	position: fixed;
	width: 100vw;
	height: 8rem;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.header .title {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 1.8rem;
	color: var(--neutral);
	font-weight: 700;
	position: relative;
	z-index: 4;
}

.header .blank {
	height: 2rem;
	z-index: 4;
}

.description {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: calc(1.2rem + 0.1vw);
	font-weight: 400;
	color: var(--neutral);
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.buttons {
	margin-bottom: 6rem;
}

.button {
	width: 17rem;
	height: 5rem;
	margin: 0.7rem;
}

.button .button-background {
	width: 16rem;
	height: 4rem;
	border-radius: 0.8rem;
	background-color: var(--button-background);
	box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
	transition: all var(--animation-time);
}

.button .logo {
	width: 1.4rem;
	height: 1.4rem;
	fill: var(--button-logo);
	transition: all var(--animation-time);
}

.button-name {
	width: 11.5rem;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--button-logo);
	text-align: center;
	margin-left: 0.6rem;
	padding-bottom: 0.24rem;
	transition: all var(--animation-time);
}

.text-button {
	color: var(--secondary);
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 700;
	text-decoration: underline;
	font-size: 1.1rem;
	text-align: center;
}

@media (hover: hover) and (pointer: fine) {
	.button:hover .button-background {
		transform: scale(var(--button-scale-amount));
		box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
		background-color: #FDD200;
	}
	
	.button:active .button-background {
		box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
	}
	
	.button:hover .logo {
		fill: #0061EC;
	}
	
	.button:hover .button-name {
		color: #0061EC;
	}
}

@media screen and (max-width: 500px) {
	.description {
		font-weight: 500;
	}
}
