html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background);
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.preload * {
	transition: none !important;
}

::selection {
	background: var(--default-selection);
}

.full {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.flex-one-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-horizontal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-vertical {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.plain-list {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.plain-link {
	text-decoration: none;
}

.restrict-width {
	max-width: 80vw;
}

.header {
	position: fixed;
	width: 100vw;
	height: 8em;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.header-gradient {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(var(--background), var(--background-gradient));
	z-index: 3;
}

.header .title {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 1.8em;
	color: var(--neutral);
	font-weight: 700;
	position: relative;
	z-index: 4;
}

.header .blank {
	height: 2em;
	z-index: 4;
}

.description {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: calc(1.2em + 0.1vw);
	font-weight: 400;
	color: var(--neutral);
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.text-button {
	color: var(--secondary);
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 700;
	text-decoration: underline;
	font-size: 1.1em;
}

.buttons {
	height: 16em;
	margin-bottom: 6em;
}

.button {
	width: 5em;
	height: 5em;
	margin: 0.5em;
}

.button .button-background {
	width: 16em;
	height: 4em;
	border-radius: 0.8em;
	background-color: var(--button-background);
	box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.1);
	transition: width var(--animation-time), height var(--animation-time), background-color var(--animation-time), box-shadow var(--animation-time);
}

.button .logo {
	width: 1.4em;
	height: 1.4em;
	fill: var(--button-logo);
	transition: width var(--animation-time), height var(--animation-time), fill var(--animation-time);
}

.button-name {
	width: 9.5em;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	color: var(--button-logo);
	text-align: center;
	margin-left: 0.4em;
	padding-bottom: 0.24em;
	transition: color var(--animation-time), font-size var(--animation-time), margin-left var(--animation-time), padding-bottom var(--animation-time);
}

@media (hover: hover) and (pointer: fine) {
	.button:hover .button-background {
		width: 18em;
		height: 4.5em;
		box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
		background-color: #FDD200;
	}
	
	.button:active .button-background {
		box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.3);
	}
	
	.button:hover .logo {
		width: 1.575em;
		height: 1.575em;
		fill: #0061EC;
	}
	
	.button:hover .button-name {
		font-size: 1.35em;
		margin-left: 0.45em;
		padding-bottom: 0.27em;
		color: #0061EC;
	}
}

@media screen and (max-width: 500px) {
	.description {
		font-weight: 500;
	}
}