html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg);
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

::selection {
	background: var(--neutralbg);
}

.linkwithoutul {
	text-decoration: none;
}

.header {
	position: fixed;
	display: flex;
	width: 100vw;
	height: 8em;
	top: 0px;
	left: 0px;
	z-index: 2;
	align-items: center;
	justify-content: center;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header .bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(var(--bg), var(--tbg));
	z-index: 3;
}

.header .container .title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 1.8em;
	color: var(--neutral);
	font-weight: 700;
	position: relative;
	z-index: 4;
}

.header .container .blank {
	height: 2em;
	z-index: 4;
}

.contents {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 100vh;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	word-break: keep-all;
}

.contents .description {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	color: var(--neutral);
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.txtbtn {
	color: var(--subtext);
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 700;
	text-decoration: underline;
	font-size: 1.1em;
}

.contents .cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 16em;
	margin-bottom: 6em;
}

.contents .cards .card {
	margin: 0.5em 0.5em 1.4em 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5em;
	height: 5em;
}

.contents .cards .card .cardbg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16em;
	height: 4em;
	border-radius: 0.8em;
	background-color: var(--ctcardbg);
	box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s, box-shadow 0.3s, width 0.3s, height 0.3s;
}

.contents .cards .card:hover .cardbg {
	width: 18em;
	height: 4.5em;
	box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
	background-color: #FDD200;
	transition: background-color 0.3s, box-shadow 0.3s, width 0.3s, height 0.3s;
}

.contents .cards .card:active .cardbg {
	box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s;
}

.contents .cards .card .logo {
	width: 1.4em;
	height: 1.4em;
	fill: var(--ctcardlogo);
	transition: fill 0.3s, width 0.3s, height 0.3s;
}

.contents .cards .card:hover .cardbg .logo {
	width: 1.575em;
	height: 1.575em;
	fill: #0061EC;
	transition: fill 0.3s, width 0.3s, height 0.3s;
}

.contents .cards .cardbg .txt {
	width: 9.5em;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	color: var(--ctcardlogo);
	text-align: center;
	margin-left: 0.4em;
	transition: color 0.3s, font-size 0.3s, margin-left 0.3s;
}

.contents .cards .card:hover .cardbg .txt {
	font-size: 1.35em;
	margin-left: 0.45em;
	color: #0061EC;
	transition: color 0.3s, font-size 0.3s, margin-left 0.3s;
}

@media screen and (max-width: 500px) {
	.nolb {
		display: inline-block;
		width: 100vw;
	}

	.contents .description {
		font-size: 1.2em;
		font-weight: 500;
		margin-bottom: 0.8vh;
	}

	.contents .cards {
		margin-bottom: 6vh;
	}
}